<% content_for :head do %>
  	<%= javascript_include_tag "tooltips.js" %>
  	<script type="text/javascript">
    	<%= render :partial => "shared/searchuser", :formats=>[:js] %>
  	</script>
	<style type="text/css">
		
	</style>
<% end %>

<div class="modal-backdrop fade" style="visibility:hidden">	
</div>
<div class="modal" style="display:none;">
	<div class="modal-header">
		<div class="modal-header-text">
			Issue Book Copy
		</div>
		<div class="modal-close"></div>
	</div>
	<div class="modal-body">
		<div class="tabs-container">  
            <ul class="tabs-list">
                <li class="tab"><a href="#tab1">Search User</a></li>
                <li class="tab"><a href="#tab2">New User</a></li>
            </ul>
            
            <div class="tabs-contents">
                <div id="tab1" class="content-item">
             		<div class="modal-row">
						<div class="label">
                			Enter search term:
                		</div>
                		<div class="input-container">
                			<input id="searchData" type="text" placeholder="Search User...">
                		</div>
					</div>
					<div id="searchResults" style="visibility:hidden"></div>
				</div>
                <div id="tab2" class="content-item">
                	<%= form_for User.new, :url => book_bookitem_bookissues_path(@book, @bookitem.id) do |form| %>
                		<%= hidden_field_tag :w_user, true %>
	                	<div class="modal-row">
	                		<div class="label">
	                			<%= form.label :name, "Name" %>
	                		</div>
	                		<div class="input-container">
	                			
	                			<%= form.text_field :name, autofocus: true, :placeholder => "Name..." %>
	                		</div>						
						</div>
						<div class="modal-row">
							<div class="label">
	                			<%= form.label :employee_id, "Employee Id" %>
	                		</div>
	                		<div class="input-container">
	                			<%= form.text_field :employee_id, autofocus: true, :placeholder => "Employee Id..." %>
	                		</div>
						</div>
						<div class="modal-row">
							<div class="label">
	                			<%= form.label :email, "Email Address" %>
	                		</div>
	                		<div class="input-container">
	                			<%= form.email_field :email, autofocus: true, :placeholder => "Email..." %>
	                		</div>
						</div>
						<div class="modal-row">
							<div class="label">
	                		</div>
	                		<div class="input-container">
	                			<%= form.submit "Submit" %>
	                		</div>
						</div>
					<% end %>
                </div>
            </div>
        </div>
	</div>
</div>

<div id="page-wrapper">
	<div class="book">
		<div class="bookcover">
			<%= image_tag @book.cover.url(:medium) %>
		</div>
		<div class="booktitle">
			<%= link_to @book.title, book_path(@book) %>
		</div>
		<div class="book-details-row bottom-border">
			<div class="bookcategory">
				Genre :&nbsp;<span class="blue-text"><%= @book.category %></span>
			</div>
			<div class="bookauthors">
				Authors :&nbsp;<span class="blue-text"><%= @book.authors %></span>
			</div> 	
			<div class="bookisbn">
				ISBN -&nbsp;<span class="blue-text"><%= @book.isbn %></span>
			</div>
		</div>
		<div class="book-details-row">
			Description<br />
			<%= @book.description %>
		</div>
	</div>

	<div class="menu">
		<% if can? :update, @bookitem %>
			<% latest_bookissue = @bookitem.bookissues.last %>
			<% if !latest_bookissue.status %>
				<div class="menu-item">
					<div class = "submit-link showUserSearch">
						Issue this copy
					</div>
				</div>
			<% end %>			
		<% end %>
		<% if can? :destroy, @book %>
			<div class="menu-item">
				<div class = "submit-link">
					<%= link_to "Delete Copy", edit_book_path(@book), { :class => "submit-link"} %>
				</div>
			</div>
		<% end %>	
	</div>

	<div class="title">
		Book Copy Issue History
	</div>
	<% @bookitem.bookissues.each_with_index { |bookissue, index| %>
		<div class="bookitem">
			<% if bookissue.status %>
				<div class="serial-number is-false" title = "Still issued...">
				</div>
				<div class="bookitem-row bookname">
				    <div class="row-label"><strong>Issued By:</strong></div>
				    <div class="row-value"><%= link_to  bookissue.user.name, user_path(bookissue.user) %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Issue:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_issue.to_date %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Return:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_return.to_date %></div>
				</div>
				<div class="bookitem-row last">
					<% if can? :update, @bookissue %>
				  		<%= link_to "Return the copy", book_bookitem_bookissue_path(@book,@bookitem,bookissue.id), method: :patch, :class => "submit-link" %>
				  	<% end %>
				</div>
			<% elsif !bookissue.status %>
				<div class="serial-number is-true" title = "Book returned...">
				</div>
				<div class="bookitem-row bookname">
				    <div class="row-label"><strong>Issued By:</strong></div>
				    <div class="row-value"><%= link_to  bookissue.user.name, user_path(bookissue.user) %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Issue:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_issue.to_date %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Actual Return:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_actual_return.to_date %></div>
				</div>
			<% end %>
		</div>
	<% } %>
</div>