<% content_for :head do %>
  	<%= javascript_include_tag "tooltips.js" %>
  	<script type="text/javascript">
    	<%= render :partial => "shared/searchuser", :formats=>[:js] %>
  	</script>
	<style type="text/css">
		
	</style>
<% end %>
<div class="modal-backdrop fade" style="visibility:hidden">	
</div>
<div class="modal" style="display:none;">
	<div class="modal-header">
		<div class="modal-header-text">
			Add Book Item
		</div>
		<div class="modal-close"></div>
	</div>
	<div class="modal-body">
		<div class="tabs-container">  
            <ul class="tabs-list">
                <li class="tab"><a href="#tab1">Search User</a></li>
                <li class="tab"><a href="#tab2">New User</a></li>
            </ul>
            
            <div class="tabs-contents">
                <div id="tab1" class="content-item">
             		<div class="modal-row">
						<div class="label">
                			Enter search term:
                		</div>
                		<div class="input-container">
                			<input id="searchData" type="text" placeholder="Search User...">
                		</div>
					</div>
					<div id="searchResults" style="visibility:hidden"></div>
				</div>
                <div id="tab2" class="content-item">
                	<div class="modal-row">
                		<div class="label">
                			Name: 	
                		</div>
                		<div class="input-container">
                			<input type="text" placeholder="Name...">	
                		</div>						
					</div>
					<div class="modal-row">
						<div class="label">
                			Employee Id:
                		</div>
                		<div class="input-container">
                			<input type="text" placeholder="Employee Id...">
                		</div>
                		
					</div>
					<div class="modal-row">
						<div class="label">
                			Email:
                		</div>
                		<div class="input-container">
                			<input type="text" placeholder="Email...">
                		</div>
                		 
					</div>
					<div class="modal-row">
						<div class="label">
                		</div>
                		<div class="input-container">
                			<input type="submit">	
                		</div>
					</div>
                </div>
                
            </div>
            
        </div>

	</div>
</div>
<div id="page-wrapper">

	<%= render :partial => "shared/book" %>

	<div class="menu">
		<% if can? :create, @bookitem %>
			<div class="menu-item">
				<div class = "submit-link showUserSearch">
					Add Book Item
				</div>			
			</div>
		<% end %>
		<% if can? :update, @book %>
			<div class="menu-item">
				<div class = "submit-link">
					<%= link_to "Edit Book", edit_book_path(@book), { :class => "submit-link"} %>
				</div>
			</div>
		<% end %>	
	</div>

	<%= render :partial => "shared/bookitems" %>

</div>

